/* Standard styles for larger screens */
body {
    font-size: 16px;
    box-sizing: border-box;
      font-family: Arial, sans-serif;
    /* Other global styles */
  }


  .container {
    width: 100%;
  }


  nav{
    background: #ffffff;
    height: 140px;
    width: 100%;
    border-bottom: 8px;
}
label.logo
{
    color: white;
    font-size: 10px;
    line-height: 80px;
    padding: 100px;
    font-weight: bold;
}
nav ul{
    float:right;
    margin-right: 20px;
    position: relative;
    bottom: 110px;
}
nav ul li{
   
    display: inline-block;
    line-height: 180px;
    margin:0 50px;
}
nav ul li a{
    color: rgb(40, 38, 38);
    font-size: 17px;
    padding: 7px 13px;
    border-radius:8px;
    text-transform: uppercase;
}
a.active,a:hover{
    background: #1b9bff;
    transition: .5s;

}


.bg{
  background-color: #e09494;
  opacity: 0.7;
  height: 500px;
  background-image:url('../images/dentalmarketinggdw.jpg')
}
  

.ah1{
    position: relative;
    top: 300px;
    left: 100px;
    color: white;
    text-decoration: underline;
    text-decoration-color: rgb(59, 192, 59);

    display: inline-block;
    font-size: 28px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-bottom: 50%;
    
}
.ah2{
    position: relative;
    top: 300px;
    right: 20px;
    color: white;

    display: inline-block;
    font-size: 28px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-bottom: 50%;
    
}
.mh1{

position: relative;
text-align: justify;
font-size: x-large;
width: 900px;
left: 450px;
font-family: 'Times New Roman', Times, serif;
color: rgb(72, 72, 72);
white-space:normal;


}

.mh1-1{
    text-align: center;
}


.mimg1{
    width: 1000px;
    height: 600px;
    left: 23%;
    position: relative;
    padding: 10px;
   
}
.mh2{
    position: relative;
    left: 450px;
    width: 900px;
    text-align: justify;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
color: rgb(72, 72, 72);
white-space:normal;
}
.mh2-1{
    text-align: center;
    right: 20px;
    left: 100px;
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
color: rgb(72, 72, 72);
white-space:normal;
}


.mimg2{
    position: relative;
    left: 15%;
    padding: 70px;
}


.mbg1{
    width: 1800px;
height: 400px;
}
.mh3{
    text-align: center;
position: relative;
bottom: 300px;
font-size: 47px;
color: #ffffff;
}

#yellowButton {
    background-color: #FFD700; 
    color: #333; 
    padding: 10px 20px;
    font-size: 3em;
    border: none;
    border-radius: 13px;
    cursor: pointer;
    text-align: center;
    position: relative;
    left: 650px;
    bottom: 280px;
    transition: background-color 0.3s ease;
  }

  #yellowButton:hover {
    background-color: #FFEA00; 
  }
  .mh4{
    position: relative;
    text-align: center;
    bottom: 150px;
    width: 900px;
    left: 500px;
    font-size: x-large;
    color: rgb(72, 72, 72);
  }
.mh5{
    text-align:justify;
   position: relative;
   left: 900px;
   font-size: x-large;
    width: 600px;
}
.mimg3{
    position: relative;
    left: 100px;
    width: 700px;
    bottom: 620px;
}

#darkYellowButton {
    background-color: #B8860B; /* Dark yellow button color */
    color: #fff; /* White text color */
    padding: 10px 20px;
    font-size: 2em;
    bottom: 500px;
   left: 200px;
    position: relative;
    border: none;
    border-radius: 1px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  #darkYellowButton:hover {
    background-color: #DAA520; /* Lighter dark yellow on hover */
  }
.mimg4{
    position: relative;
   bottom: 300px;
height: 600px;
    width: 1000px;
    left: 400px;
    
}




form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    
    max-width: 1000px;
    width: 100%;
    position: relative;
    left: 450px;
    bottom: 300px;
  }

  label {
    display: block;
    margin-bottom: 8px;
  }

  input,
  textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    
    border-radius: 4px;
  }

  button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  button:hover {
    background-color: #45a049;
  }
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
  body{
      line-height: 1.5;
      font-family: 'Poppins', sans-serif;
  }
  *{
      margin:0;
      padding:0;
      box-sizing: border-box;
  }
  .container{
      max-width: 1170px;
      margin:auto;
  }
  .row{
      display: flex;
      flex-wrap: wrap;
  }
  ul{
      list-style: none;
  }
  .footer{
      background-color: #4ec668;
      padding: 70px 0;
  }
  .footer-col{
     width: 25%;
     padding: 0 15px;
  }
  .footer-col h4{
      font-size: 18px;
      color: #ff0000;
      text-transform: capitalize;
      margin-bottom: 35px;
      font-weight: 500;
      position: relative;
  }
  .footer-col h4::before{
      content: '';
      position: absolute;
      left:0;
      bottom: -10px;
      background-color: #e91e63;
      height: 2px;
      box-sizing: border-box;
      width: 50px;
  }
  .footer-col ul li:not(:last-child){
      margin-bottom: 10px;
  }
  .footer-col ul li a{body {
      font-family: 'Arial', sans-serif;
      background-color: #f0f0f0;
      color: #333;
    }
    
    .container {
      width: 80%;
      margin: 0 auto;
    }
    




  /* Tablet-sized screens */
  @media screen and (max-width: 1024px) {
    body {
      font-size: 14px;
    }
    /* Additional styles for tablets */



    .container {
      width: 100%;
    }
  
  
    nav{
      background: #ffffff;
      height: 140px;
      width: 100%;
      border-bottom: 8px;
  }
  label.logo
  {
      color: white;
      font-size: 10px;
      line-height: 80px;
      padding: 100px;
      font-weight: bold;
  }
  nav ul{
      float:right;
      margin-right: 20px;
      position: relative;
      bottom: 110px;
  }
  nav ul li{
     
      display: inline-block;
      line-height: 180px;
      margin:0 50px;
  }
  nav ul li a{
      color: rgb(40, 38, 38);
      font-size: 17px;
      padding: 7px 13px;
      border-radius:8px;
      text-transform: uppercase;
  }
  a.active,a:hover{
      background: #1b9bff;
      transition: .5s;
  
  }
  
  
  .bg{
    background-color: #e09494;
    opacity: 0.7;
    height: 500px;
    background-image:url('../images/dentalmarketinggdw.jpg')
  }
    
  
  .ah1{
      position: relative;
      top: 300px;
      left: 100px;
      color: white;
      text-decoration: underline;
      text-decoration-color: rgb(59, 192, 59);
  
      display: inline-block;
      font-size: 28px;
      margin: 4px 2px;
      transition-duration: 0.4s;
      cursor: pointer;
      margin-bottom: 50%;
      
  }
  .ah2{
      position: relative;
      top: 300px;
      right: 20px;
      color: white;
  
      display: inline-block;
      font-size: 28px;
      margin: 4px 2px;
      transition-duration: 0.4s;
      cursor: pointer;
      margin-bottom: 50%;
      
  }
  .mh1{
  
  position: relative;
  text-align: justify;
  font-size: x-large;
  width: 900px;
  left: 450px;
  font-family: 'Times New Roman', Times, serif;
  color: rgb(72, 72, 72);
  white-space:normal;
  
  
  }
  
  .mh1-1{
      text-align: center;
  }
  
  
  .mimg1{
      width: 1000px;
      height: 600px;
      left: 23%;
      position: relative;
      padding: 10px;
     
  }
  .mh2{
      position: relative;
      left: 450px;
      width: 900px;
      text-align: justify;
      font-size: x-large;
      font-family: 'Times New Roman', Times, serif;
  color: rgb(72, 72, 72);
  white-space:normal;
  }
  .mh2-1{
      text-align: center;
      right: 20px;
      left: 100px;
      font-size: xx-large;
      font-family: 'Times New Roman', Times, serif;
  color: rgb(72, 72, 72);
  white-space:normal;
  }
  
  
  .mimg2{
      position: relative;
      left: 15%;
      padding: 70px;
  }
  
  
  .mbg1{
      width: 1800px;
  height: 400px;
  }
  .mh3{
      text-align: center;
  position: relative;
  bottom: 300px;
  font-size: 47px;
  color: #ffffff;
  }
  
  #yellowButton {
      background-color: #FFD700; 
      color: #333; 
      padding: 10px 20px;
      font-size: 3em;
      border: none;
      border-radius: 13px;
      cursor: pointer;
      text-align: center;
      position: relative;
      left: 650px;
      bottom: 280px;
      transition: background-color 0.3s ease;
    }
  
    #yellowButton:hover {
      background-color: #FFEA00; 
    }
    .mh4{
      position: relative;
      text-align: center;
      bottom: 150px;
      width: 900px;
      left: 500px;
      font-size: x-large;
      color: rgb(72, 72, 72);
    }
  .mh5{
      text-align:justify;
     position: relative;
     left: 900px;
     font-size: x-large;
      width: 600px;
  }
  .mimg3{
      position: relative;
      left: 100px;
      width: 700px;
      bottom: 620px;
  }
  
  #darkYellowButton {
      background-color: #B8860B; /* Dark yellow button color */
      color: #fff; /* White text color */
      padding: 10px 20px;
      font-size: 2em;
      bottom: 500px;
     left: 200px;
      position: relative;
      border: none;
      border-radius: 1px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }
  
    #darkYellowButton:hover {
      background-color: #DAA520; /* Lighter dark yellow on hover */
    }
  .mimg4{
      position: relative;
     bottom: 300px;
  height: 600px;
      width: 1000px;
      left: 400px;
      
  }
  
  
  
  
  form {
      background-color: #fff;
      padding: 20px;
      border-radius: 8px;
      
      max-width: 1000px;
      width: 100%;
      position: relative;
      left: 450px;
      bottom: 300px;
    }
  
    label {
      display: block;
      margin-bottom: 8px;
    }
  
    input,
    textarea {
      width: 100%;
      padding: 8px;
      margin-bottom: 16px;
      box-sizing: border-box;
      
      border-radius: 4px;
    }
  
    button {
      background-color: #4caf50;
      color: #fff;
      padding: 10px 20px;
      font-size: 16px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
  
    button:hover {
      background-color: #45a049;
    }


    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
    body{
        line-height: 1.5;
        font-family: 'Poppins', sans-serif;
    }
    *{
        margin:0;
        padding:0;
        box-sizing: border-box;
    }
    .container{
        max-width: 1170px;
        margin:auto;
    }
    .row{
        display: flex;
        flex-wrap: wrap;
    }
    ul{
        list-style: none;
    }
    .footer{
        background-color: #4ec668;
        padding: 70px 0;
    }
    .footer-col{
       width: 25%;
       padding: 0 15px;
    }
    .footer-col h4{
        font-size: 18px;
        color: #ff0000;
        text-transform: capitalize;
        margin-bottom: 35px;
        font-weight: 500;
        position: relative;
    }
    .footer-col h4::before{
        content: '';
        position: absolute;
        left:0;
        bottom: -10px;
        background-color: #e91e63;
        height: 2px;
        box-sizing: border-box;
        width: 50px;
    }
    .footer-col ul li:not(:last-child){
        margin-bottom: 10px;
    }
    .footer-col ul li a{body {
        font-family: 'Arial', sans-serif;
        background-color: #f0f0f0;
        color: #333;
      }
      
      .container {
        width: 80%;
        margin: 0 auto;
      }
      



  }
  
  /* Mobile-sized screens */
  @media screen and (max-width: 768px) {
    body {
      font-size: 12px;
    }
    /* Additional styles for mobile devices */

    .container {
      width: 100%;
    }
  
  
    nav{
      background: #ffffff;
      height: 140px;
      width: 100%;
      border-bottom: 8px;
  }
  label.logo
  {
      color: white;
      font-size: 10px;
      line-height: 80px;
      padding: 100px;
      font-weight: bold;
  }
  nav ul{
      float:right;
      margin-right: 20px;
      position: relative;
      bottom: 110px;
  }
  nav ul li{
     
      display: inline-block;
      line-height: 180px;
      margin:0 50px;
  }
  nav ul li a{
      color: rgb(40, 38, 38);
      font-size: 17px;
      padding: 7px 13px;
      border-radius:8px;
      text-transform: uppercase;
  }
  a.active,a:hover{
      background: #1b9bff;
      transition: .5s;
  
  }
  
  
  .bg{
    background-color: #e09494;
    opacity: 0.7;
    height: 500px;
    background-image:url('../images/dentalmarketinggdw.jpg')
  }
    
  
  .ah1{
      position: relative;
      top: 300px;
      left: 100px;
      color: white;
      text-decoration: underline;
      text-decoration-color: rgb(59, 192, 59);
  
      display: inline-block;
      font-size: 28px;
      margin: 4px 2px;
      transition-duration: 0.4s;
      cursor: pointer;
      margin-bottom: 50%;
      
  }
  .ah2{
      position: relative;
      top: 300px;
      right: 20px;
      color: white;
  
      display: inline-block;
      font-size: 28px;
      margin: 4px 2px;
      transition-duration: 0.4s;
      cursor: pointer;
      margin-bottom: 50%;
      
  }
  .mh1{
  
  position: relative;
  text-align: justify;
  font-size: x-large;
  width: 900px;
  left: 450px;
  font-family: 'Times New Roman', Times, serif;
  color: rgb(72, 72, 72);
  white-space:normal;
  
  
  }
  
  .mh1-1{
      text-align: center;
  }
  
  
  .mimg1{
      width: 1000px;
      height: 600px;
      left: 23%;
      position: relative;
      padding: 10px;
     
  }
  .mh2{
      position: relative;
      left: 450px;
      width: 900px;
      text-align: justify;
      font-size: x-large;
      font-family: 'Times New Roman', Times, serif;
  color: rgb(72, 72, 72);
  white-space:normal;
  }
  .mh2-1{
      text-align: center;
      right: 20px;
      left: 100px;
      font-size: xx-large;
      font-family: 'Times New Roman', Times, serif;
  color: rgb(72, 72, 72);
  white-space:normal;
  }
  
  
  .mimg2{
      position: relative;
      left: 15%;
      padding: 70px;
  }
  
  
  .mbg1{
      width: 1800px;
  height: 400px;
  }
  .mh3{
      text-align: center;
  position: relative;
  bottom: 300px;
  font-size: 47px;
  color: #ffffff;
  }
  
  #yellowButton {
      background-color: #FFD700; 
      color: #333; 
      padding: 10px 20px;
      font-size: 3em;
      border: none;
      border-radius: 13px;
      cursor: pointer;
      text-align: center;
      position: relative;
      left: 650px;
      bottom: 280px;
      transition: background-color 0.3s ease;
    }
  
    #yellowButton:hover {
      background-color: #FFEA00; 
    }
    .mh4{
      position: relative;
      text-align: center;
      bottom: 150px;
      width: 900px;
      left: 500px;
      font-size: x-large;
      color: rgb(72, 72, 72);
    }
  .mh5{
      text-align:justify;
     position: relative;
     left: 900px;
     font-size: x-large;
      width: 600px;
  }
  .mimg3{
      position: relative;
      left: 100px;
      width: 700px;
      bottom: 620px;
  }
  
  #darkYellowButton {
      background-color: #B8860B; /* Dark yellow button color */
      color: #fff; /* White text color */
      padding: 10px 20px;
      font-size: 2em;
      bottom: 500px;
     left: 200px;
      position: relative;
      border: none;
      border-radius: 1px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }
  
    #darkYellowButton:hover {
      background-color: #DAA520; /* Lighter dark yellow on hover */
    }
  .mimg4{
      position: relative;
     bottom: 300px;
  height: 600px;
      width: 1000px;
      left: 400px;
      
  }
  
  
  
  
  form {
      background-color: #fff;
      padding: 20px;
      border-radius: 8px;
      
      max-width: 1000px;
      width: 100%;
      position: relative;
      left: 450px;
      bottom: 300px;
    }
  
    label {
      display: block;
      margin-bottom: 8px;
    }
  
    input,
    textarea {
      width: 100%;
      padding: 8px;
      margin-bottom: 16px;
      box-sizing: border-box;
      
      border-radius: 4px;
    }
  
    button {
      background-color: #4caf50;
      color: #fff;
      padding: 10px 20px;
      font-size: 16px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
  
    button:hover {
      background-color: #45a049;
    }




  }
  
  /* Small mobile screens */
  @media screen and (max-width: 480px) {
    /* Adjustments for smaller screens */


    .container {
      width: 100%;
    }
  
  
    nav{
      background: #ffffff;
      height: 140px;
      width: 100%;
      border-bottom: 8px;
  }
  label.logo
  {
      color: white;
      font-size: 10px;
      line-height: 80px;
      padding: 100px;
      font-weight: bold;
  }
  nav ul{
      float:right;
      margin-right: 20px;
      position: relative;
      bottom: 110px;
  }
  nav ul li{
     
      display: inline-block;
      line-height: 180px;
      margin:0 50px;
  }
  nav ul li a{
      color: rgb(40, 38, 38);
      font-size: 17px;
      padding: 7px 13px;
      border-radius:8px;
      text-transform: uppercase;
  }
  a.active,a:hover{
      background: #1b9bff;
      transition: .5s;
  
  }
  
  
  .bg{
    background-color: #e09494;
    opacity: 0.7;
    height: 500px;
    background-image:url('../images/dentalmarketinggdw.jpg')
  }
    
  
  .ah1{
      position: relative;
      top: 300px;
      left: 100px;
      color: white;
      text-decoration: underline;
      text-decoration-color: rgb(59, 192, 59);
  
      display: inline-block;
      font-size: 28px;
      margin: 4px 2px;
      transition-duration: 0.4s;
      cursor: pointer;
      margin-bottom: 50%;
      
  }
  .ah2{
      position: relative;
      top: 300px;
      right: 20px;
      color: white;
  
      display: inline-block;
      font-size: 28px;
      margin: 4px 2px;
      transition-duration: 0.4s;
      cursor: pointer;
      margin-bottom: 50%;
      
  }
  .mh1{
  
  position: relative;
  text-align: justify;
  font-size: x-large;
  width: 900px;
  left: 450px;
  font-family: 'Times New Roman', Times, serif;
  color: rgb(72, 72, 72);
  white-space:normal;
  
  
  }
  
  .mh1-1{
      text-align: center;
  }
  
  
  .mimg1{
      width: 1000px;
      height: 600px;
      left: 23%;
      position: relative;
      padding: 10px;
     
  }
  .mh2{
      position: relative;
      left: 450px;
      width: 900px;
      text-align: justify;
      font-size: x-large;
      font-family: 'Times New Roman', Times, serif;
  color: rgb(72, 72, 72);
  white-space:normal;
  }
  .mh2-1{
      text-align: center;
      right: 20px;
      left: 100px;
      font-size: xx-large;
      font-family: 'Times New Roman', Times, serif;
  color: rgb(72, 72, 72);
  white-space:normal;
  }
  
  
  .mimg2{
      position: relative;
      left: 15%;
      padding: 70px;
  }
  
  
  .mbg1{
      width: 1800px;
  height: 400px;
  }
  .mh3{
      text-align: center;
  position: relative;
  bottom: 300px;
  font-size: 47px;
  color: #ffffff;
  }
  
  #yellowButton {
      background-color: #FFD700; 
      color: #333; 
      padding: 10px 20px;
      font-size: 3em;
      border: none;
      border-radius: 13px;
      cursor: pointer;
      text-align: center;
      position: relative;
      left: 650px;
      bottom: 280px;
      transition: background-color 0.3s ease;
    }
  
    #yellowButton:hover {
      background-color: #FFEA00; 
    }
    .mh4{
      position: relative;
      text-align: center;
      bottom: 150px;
      width: 900px;
      left: 500px;
      font-size: x-large;
      color: rgb(72, 72, 72);
    }
  .mh5{
      text-align:justify;
     position: relative;
     left: 900px;
     font-size: x-large;
      width: 600px;
  }
  .mimg3{
      position: relative;
      left: 100px;
      width: 700px;
      bottom: 620px;
  }
  
  #darkYellowButton {
      background-color: #B8860B; /* Dark yellow button color */
      color: #fff; /* White text color */
      padding: 10px 20px;
      font-size: 2em;
      bottom: 500px;
     left: 200px;
      position: relative;
      border: none;
      border-radius: 1px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }
  
    #darkYellowButton:hover {
      background-color: #DAA520; /* Lighter dark yellow on hover */
    }
  .mimg4{
      position: relative;
     bottom: 300px;
  height: 600px;
      width: 1000px;
      left: 400px;
      
  }
  
  
  
  
  form {
      background-color: #fff;
      padding: 20px;
      border-radius: 8px;
      
      max-width: 1000px;
      width: 100%;
      position: relative;
      left: 450px;
      bottom: 300px;
    }
  
    label {
      display: block;
      margin-bottom: 8px;
    }
  
    input,
    textarea {
      width: 100%;
      padding: 8px;
      margin-bottom: 16px;
      box-sizing: border-box;
      
      border-radius: 4px;
    }
  
    button {
      background-color: #4caf50;
      color: #fff;
      padding: 10px 20px;
      font-size: 16px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
  
    button:hover {
      background-color: #45a049;
    }






    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
      body{
          line-height: 1.5;
          font-family: 'Poppins', sans-serif;
      }
      *{
          margin:0;
          padding:0;
          box-sizing: border-box;
      }
      .container{
          max-width: 1170px;
          margin:auto;
      }
      .row{
          display: flex;
          flex-wrap: wrap;
      }
      ul{
          list-style: none;
      }
      .footer{
          background-color: #4ec668;
          padding: 70px 0;
      }
      .footer-col{
         width: 25%;
         padding: 0 15px;
      }
      .footer-col h4{
          font-size: 18px;
          color: #ff0000;
          text-transform: capitalize;
          margin-bottom: 35px;
          font-weight: 500;
          position: relative;
      }
      .footer-col h4::before{
          content: '';
          position: absolute;
          left:0;
          bottom: -10px;
          background-color: #e91e63;
          height: 2px;
          box-sizing: border-box;
          width: 50px;
      }
      .footer-col ul li:not(:last-child){
          margin-bottom: 10px;
      }
      .footer-col ul li {
        body {
          font-family: 'Arial', sans-serif;
          background-color: #f0f0f0;
          color: #333;
        }
        .container {
          width: 80%;
          margin: 0 auto;
        }

      }

    
     